@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  --color-primary: #000;
  --color-text: #495057;
  --color-text-light: #5f6c80;
  --color-heading: #070707;
  --color-heading-black: black;
  --color-accent: #d1dce5;

  --bgFrom: #fff;
  --bgTo: #f1f1f1;

  min-height: 100vh;
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  background: linear-gradient(var(--bgFrom), var(--bgTo));
}

body.dark {
  --color-primary: #fff;
  --color-text: #fff;
  --color-text-light: #fff;
  --color-heading: #fff;
  --color-heading-black: fff;
  --color-accent: #d1dce5;

  --bgFrom: #000;
  --bgTo: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
p,
div,
li,
ul {
  font-family: "Source Sans Pro", sans-serif;
}
p {
  font-size: 18px;
}
div,
ul,
li {
  font-size: 18px;
}

a {
  text-decoration: none;
  box-shadow: none;
}
a:hover {
  text-decoration: underline;
  /* background-color: var(--titleHoverBG);
  border-radius: 5px; */
}

#blog-image-wide {
  left: 0;
  width: 100%;
  position: absolute;
}

.work-images {
  width: 100%;
}
.work-images span {
  width: 48% !important;
  float: left;
  margin-right: 1% !important;
  margin-top: 10px;
}
.work-web-images span {
  max-width: 100% !important;
  width: 100%;
  margin-top: 10px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media only screen and (max-width: 768px) {
  .work-images {
    width: 100%;
  }
  .work-images span {
    width: 100% !important;
    float: left;
    margin-left: 0px !important;
  }
}
