@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  --bg: #ffffff;
  --textTitle: #00897b;
  --textTitleLight: #858b93;
  --titleHoverBG: #edf7f6;

  background-color: var(--bg);
}

body.light {
  --bg: #282c35;
  --header: #ffffff;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: #ffffff;
  --textTitleGrey: #cbcbcb;
  --textLink: var(--pink);
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: hsl(222, 14%, 25%);
  --inlineCode-text: #e6e6e6;
  --tag-bg: rgb(143, 91, 35);
  --tag-color: #dddddd;
  --breadcrumbsTextColor: #a1c4e9;
  --breadcrumbsTextColorActive: #888888;
  --linkBackground: rgba(187, 239, 253, 0.3);
  --linkBorder: rgba(0, 0, 0, 0.2);
  --nav-color: #d23669;
}

body.dark {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
p,
div,
li,
ul {
  font-family: "Source Sans Pro", sans-serif;
}
p {
  font-size: 18px;
}
div,
ul,
li {
  font-size: 18px;
}

a {
  text-decoration: none;
  box-shadow: none;
}
a:hover {
  text-decoration: underline;
  /* background-color: var(--titleHoverBG);
  border-radius: 5px; */
}

#blog-image-wide {
  left: 0;
  width: 100%;
  position: absolute;
}

.work-images {
  width: 100%;
}
.work-images span {
  width: 48% !important;
  float: left;
  margin-right: 1% !important;
  margin-top: 10px;
}
.work-web-images span {
  max-width: 100% !important;
  width: 100%;
  margin-top: 10px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media only screen and (max-width: 768px) {
  .work-images {
    width: 100%;
  }
  .work-images span {
    width: 100% !important;
    float: left;
    margin-left: 0px !important;
  }
}
